/* Barra de Navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 100;
  transition: background-color 0.5s;
}

.navbar-logo {
  color: #e50914;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

/* Espaciado para que el contenido no quede debajo del menú */
.main-content {
  padding-top: 100px;
}

/* Mensaje de Bienvenida (Hero) */
.hero {
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
